<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h5>Typing Tutor</h5>
                <p>Improve your typing skills with our interactive lessons and exercises.</p>
            </div>

            <div class="col-md-6">
                <h5>Contact Us</h5>
                <address>
                    <strong>Typing Tutor Inc.</strong><br>
                    123 Keyboard Lane<br>
                    Typewriter City, TC 12345<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
                <a href="mailto:info@typingtutor.com">info@typingtutor.com</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>© {% now "Y" %} Typing Tutor. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
