body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    font-size: 40px; 
    text-align: center;
    background: white;
    padding: 40px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 1600px;
    height: 1200px;
    box-sizing: border-box; 
}

h1 {
    font-size: 40px; 
}

p {
    font-size: 40px; 
    margin: 40px 0;
    white-space: pre-wrap; 
    text-align: left;
}

input[type="text"] {
    width: 100%;
    padding: 20px; 
    font-size: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px; 
    font-size: 20px; 
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; 
    margin-top: 20px; 
    width: auto; 
}

button:hover {
    background-color: #45a049;
}

.highlight-correct {
    background-color: #d4edda; 
}

.highlight-wrong {
    background-color: #f8d7da; 
}


.accuracy-display {
    margin-top: 20px; 
    font-size: 24px; 
}
