{% extends "master.html" %}

{% block title %}
Rank List
{% endblock title %}
{% block content %}
<content>
    <h1>Rank List</h1>
    <p><a href="{% url 'rank_create' %}">Create a New Rank</a></p>  <!-- Link to the create rank page -->
    <ul>
        {% for rank in ranks %}
        <li>
            <h2>{{ rank.rankname }}</h2>
            {% if rank.icon %}
            <img src="{{ rank.icon.url }}" alt="{{ rank.rankname }}" width="100" height="100">
            {% else %}
            <p>No icon available</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</content>
{% endblock content %}