body {
    color: orange;
}
#coolButton {
    background-color: black;
    color: purple;
    width: 200px;
    height: 50px;
    border-radius: 0;
    text-align: center;
    display: flex; /* Add this line to enable flexbox */
    justify-content: center; /* Add this line to center horizontally */
    align-items: center; /* Add this line to center vertically */
}

#coolButton:hover {
    background-color: purple;
    color: black;
}

#coolButton:active {
    background-color: limegreen;
}
